<!DOCTYPE html>
<html lang="en"><head>
<title>JavaScript Form Validation using a sample registration form</title>
<p align='right'>
<div id="top-navigation" align="right" bgcolor="black">
<a href="/logout">Logout {{name}}</a></div>
<div id="top-navigation" align="right">
<a href="/reg">View registered members</a></div> 
<!--</link rel="stylesheet" href="/site_media/css/bootstrap.css"/>
<link rel="stylesheet" href="/site_media/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css"/>
<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css"/>-->
<div id="top-navigation" align="right">
Search by userid:
<form method="get" action="/db1/"> 
<input type="text" name="userid" size="12" />
<input align ='right' type="submit"  value="search"/>
<input align ='right' type="reset"  value="clear"/>
</form>
</div>



</head>
<body onload="document.registration.userid.focus();" bgcolor='33FFFF' background="file:///home/dhivya/python-code/db/db/templates/static/images.jpeg">
<h1>Registration Form</h1>
 <h3> welcome  {{name}} </h3>
<p>Use tab keys to move from one input field to the next.</p>
<form name='registration' action='/register/' method="get">
<div>
<label for="userid">User id:</label> &nbsp;
<input type="number" name="userid" size="12" /><br>
</div>
<label for="username">Name:</label> &nbsp; &nbsp;
<input type="text" name="username" size="50" /><br>
<label for="address">Address:</label> &nbsp;
<input type="text" name="address" size="50" /><br>
<label for="country">Country:</label> &nbsp;
<select name="country"><br>
<option selected="" value="india">(Please select a country)</option>
<option value="australia">Australia</option>
<option value="canada">Canada</option>
<option value="india">India</option>
<option value="russia">Russia</option>
<option value="usa">USA</option>
</select><br>
<label for="zip">ZIP Code:</label> 
<input type="number" name="zipcode" /><br>
<label for="email">Email:</label> &nbsp; &nbsp; &nbsp;
<input type="email" name="email" size="50" /></br>
<label id="gender">Sex:</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<select name="sex"><br>
<option selected="" value="male">(Please select a gender)</option>
<option value="male">male</option>
<option value="female">female</option>
</select><br>
<label>Language:</label> 
<input type="text" name="language" size="50" /><br>
<input type="submit" onclick="myfunction()" value="Submit" />&nbsp;&nbsp;
<input type="reset" value="clear"/>&nbsp;&nbsp;
<INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;">
</form>
</body>
</html>      











 












<!--<form  action='/register/'  method="get">
<table border="0">
<script src="sample-registration-form-validation.js">
<tbody onload="document.db.name.focus();"> 
</script>  
 
 <h1 align="center">REGISTRATION PAGE<h1>
<tr>
<td><label for="name">Your Name*: </label> </td>
<td><input id="name" maxlength="45" name="name" type="text" /> </td>
</tr>

<tr>
<td><label for="email">Email Address*:</label> </td>
<td><input id="email" maxlength="45" name="email" type="text" /></td>
</tr>

<tr>
<td><label for="age">age*:</label> </td>
<td><input id="age" maxlength="45" name="age" type="text" /> </td>
</tr>

<tr>
<td><label for="address">address*:</label></td>
<td><input id="address" maxlength="55" name="address" type="address" /></td>
</tr>

<tr>
<td><label for="sex">sex*:</label></td>
<td><input id="sex" maxlength="45" name="sex" type="text" /></td>
</tr>

<tr>
<td><label for="fathername">Father Name*:</label></td>
<td><input id="fathername" maxlength="45" name="fathername" type="text" /></td>
</tr>

<tr>
<td><label for="mothername">Mother Name*:</label></td>
<td><input id="mothername" maxlength="45" name="mothername" type="text" /></td>
</tr>

<tr>
<td align="right"><input name="Submit" type="submit" value="Submit" /></td>
</tr>
</tbody></table>
</form>-->






<!--<html>
<head>
    <title>database</title>
</head>
<body>
    <br>
    <center>
        <h1>LOGIN PAGE</h1><br>
    <form action="/db/" method="get">
     username:
        <input type="text" name="name"><br><br>
     password:
        <input type="password" name="pass"><br><br>
        <input type="submit" value="login">
    </form>
</body>
</html>-->