<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/site_media/login/1.css">
</head>
<body>
<center>

<div style="padding: 100px 0 0 250px;">


<div id="login-box">
            <script type="text/javascript">
document.write ('<p>Current time is: <span id="date-time">', new Date().toLocaleString(), '<\/span>.<\/p>')
if (document.getElementById) onload = function () {
    setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
}
</script>

<H2>Login</H2>
<div class="color">
    {% if msg %}
        {{msg}}
        {% endif %}
    </div>
<br />
<br />
<form action='/db/' method='post'>
<div id="login-box-name" style="margin-top:20px;">Username:</div><div id="login-box-field" style="margin-top:20px;"><input name="name" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
<div id="login-box-name">Password:</div><div id="login-box-field"><input name="pass" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
</br>

</br>

<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit"  value="login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset"  value="clear">
</center>
</div>
</div>
    </form>
</body>
</html>









<!--<html>
<head>
    <title>inserted</title>
</head>
   <body>
   	<h2>your data is registered in database</h2>
        <form action="/db1/" method="get">
     	<input type="submit" value="view registered users">
     	{% for test in results %}
		<li>{{ test|escape }}</li>
		{% endfor %}
    </body>
</head>
</html>-->