<html>
<head>
    <title>inserted</title>
    </link rel="stylesheet" href="/site_media/css/bootstrap.css"/>
<link rel="stylesheet" href="/site_media/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css"/>
<link rel="stylesheet" href="/site_media/css/bootstrap-responsive.min.css"/
</head>
<div id="top-navigation" align="right">
<a href="/logout">Logout {{name}}</a></div>
   <body bgcolor='33FFFF'>
<form action="/db1/" method="get">
<h4 align="center"> REGISTERED USER DETAILS</h1>
<div>
    Enter a userid to search:&nbsp;&nbsp;&nbsp;<input type="text" name="userid" size="12" />
  <input align ='right' type="submit"  value="search"/>&nbsp;
  <input type="reset" value="clear"/>
</div>
</form>
<form action = "/reg" method="get">
  click here to see members:&nbsp;<input align ='center' type="submit"  value="Registered users"/>
</form>
<form action="/del/" method="get">
  <div>
  Enter a userid to delete:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="userid" size="12" />
  <input align ='right' type="submit"  value="Delete"/>&nbsp;
  <input type="reset" value="clear"/>
  </div>
  
</form>
<br><FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
    </body>
</head>
</html>











<!--<html>
<head>
    <title>inserted</title>
</head>
   <body>
        <form action="/db2/" method="get">
     	data retrieved from database:
		{% for test in results %}
		<li>{{ test|escape }}</li>
		{% endfor %}
	</form>
    </body>
</head>
</html> -->