<html>
<head>
    <title>FILTERED DATA</title>
</head>
<div id="top-navigation" align="right">
<a href="/logout">Logout {{name}}</a></div>
   <body bgcolor=" #FF3399">
     <h4 align="center">USER  DETAILS</h1>
      
      {% for test1 in results1 %}
      <li>{{ test1|escape }}</li>
    {% endfor %}
    <br><FORM><INPUT Type="button" align="center" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
        </form>
    </body>
</head>
</html>