<html>
<head>
	<title> delete</title>
</head>
<div id="top-navigation" align="right">
<a href="/logout">Logout {{name}}</a></div>
<body bgcolor="red">
	<p>
		Record is deleted
	</p>
<br><FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
</body>
</html>