<html>
<head>
    <title>registerd</title>
</head>
   <body>
   	<h1>you are registerd user now!</h1>
        <form action="/db1/" method="get">
     	data retrieved from database:
	    {% for test1 in results1 %}
	    <li>{{ test1|escape }}</li>
	    {% endfor %}
    </body>
</head>
</html>